.index-list li {
	display: block;
	border: 1px solid red;
	padding: 30px;
	list-style-type: none;
	width: 100px;
}

.listSection{
	display: inline-block;
}


#sourceList .ui-sortable-placeholder {
	/* Stops the sourceList from displaying an empty placeholder when you drag something over it. */
	display: none;
}